<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slate</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <h1 class="header">write,plan,organize</h1>
    <div class="login">
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="enter email address">
        <input type="password" name="password" placeholder="enter password"> 
        <button type="submit">login</button>
    </form>
</div>
    <p>By continuing, you acknowledge that you understand and agree to the terms&conditions  and <a href="/privacy">Privacy Policy</a></p>
</body>
</html>
