<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slate</title>
    <link rel="stylesheet" href="/stylesheets/privacy.css">
</head>
<body>
<h1>Privacy Policy</h1>
<img src="/assets/lock.png">
<p>Effective Date: March 1,2024
<br>
Welcome to Slate, a notes app designed to help you capture and organize your thoughts seamlessly. Protecting your
privacy and ensuring the security of your information is our priority. This Privacy Policy outlines how Slate collects,
uses, discloses, and protects your personal information when you use our web application and services ("Services").</p>
<br>
<h2>Information We Collect</h2>
<p>
1.<b>Personal Information</b>: When you create an account, we may collect information such as your name, email address,
and optionally, a profile picture.
<br>
2.<b>Usage Data</b>: We gather information about how you interact with Slate, including pages visited, features used, and
other actions within the app.
<br>
3.<b>Device and Log Information</b> We automatically collect device-specific information (such as your hardware model,
operating system version, unique device identifiers) and log information (IP address, access times, browser type, etc.)
to maintain and improve our Services.
<br>
</p>
<br>
<h2>How We Use Your Information</h2>
<p>
1.<b>Providing and Improving the Service</b>: We use your information to deliver and enhance Slate, personalize your
experience, and develop new features.
<br>
2.<b>Communication</b>: We may send you service-related announcements, updates, or security alerts.
<br>
3.<b>Analytics</b>: We analyze usage trends and preferences to understand how our Services are used and to improve user
experience.
</p>
<h2>Data Security</h2>
<p>
We implement industry-standard security measures to protect your information from unauthorized access, alteration,
disclosure, or destruction. However, no method of transmission over the internet or electronic storage is completely
secure, and we cannot guarantee absolute security.
</p>
<h2>Your Choices and Rights</h2>
<p>
1.<b>Account Information</b>: You can review and update your account information through Slate's settings.
<br>
2.<b>Communications</b>: You can opt-out of receiving promotional emails from us by following the instructions provided in
those communications.

</p>
<h2>Changes to This Privacy Policy</h2>
<p>
We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal,
or regulatory reasons. We will notify you of any material changes by posting the updated Privacy Policy on our website
or through other appropriate communication channels.
</p>
<h2>Contact Us</h2>
<p>
If you have any questions, concerns, or complaints regarding this Privacy Policy or our data practices, please contact
us at abc@gmail.com.
<hr>
By using Slate, you consent to the collection and use of your information as described in this Privacy Policy.</p> 
</body>
</html>