<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slate</title>
    <link rel="stylesheet" href="/stylesheets/create.css">
</head>
<body>
    <h1>write,plan & organize your thoughts</h1>
    <div class="createNote">
    <form action="/create/<%= username%>" method="post">
        <input type="text" name="title" placeholder="title">
        <textarea name="data" placeholder="your thoughts"></textarea>
        <button type="submit">create</button>
    </form>
</div>
</body>
</html>