<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slate</title>
    <link rel="stylesheet" href="/stylesheets/landingPage.css">
    <script src="/javascript/landingPage.js"></script>
</head>

<body>
    <div class="navBar">
        <ul class="quick">
            <li class="nLinks">
                <b><i><a href="/">Slate</a></i></b>
            </li>
            <li class="nLinks">
                <a href="/product">Product</a>
            </li>
            <li class="nLinks">
                <a href="/teams">Teams</a>
            </li>
            <li class="nLinks">
                <a href="/individuals">Individuals</a>
            </li>
            <li class="nLinks">
                <a href="/pricing">Pricing</a>
            </li>
            <li class="nLinks">
                <a href="/privacy">Privacy Policy</a>
            </li>
        </ul>
    </div>
    <h1 class="header">WELCOME</h1>
    <div class="intro">
        <div class="heading">
            <p>Write,plan,organize</p>
        </div>
        <div class="heading2">
            <p id="introChange">A consolidated tool for students</p>
        </div>
    </div>
    <div class="introLogin">
        <div class="login">
            <a href="/login">Login</a>
        </div>
        <div class="signup">
            <a href="/signup">Sign Up</a>
        </div>
    </div>
</body>
<footer>
    <div class="reference">
    <div class="box">
        <h2>slate</h2>
    </div>
    <div class="box">
        
        <ul>
            <h3>Company</h3>
            <li>About Us</li>
            <li>Security</li>
            <li>Terms&privacy</li>
        </ul>
    </div>
    
    <div class="box">
        <ul>
            <h3>Resources</h3>
            <li>Help Center</li>
            <li>Community Center</li>
            <li>Blog</li>
        </ul>
    </div>
    
    <div class="box">
        <ul>
            <h3>slate for</h3>
            <li>Enterprise</li>
            <li>Business</li>
            <li>Personal</li>
            <li>Startups</li>
        </ul>
    </div>
    
    </div>
    </footer>
</html>