<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>slate</title>
    <link rel="stylesheet" href="/stylesheets/pricing.css">
</head>

<body>
    <div class="navBar">
        <ul class="quick">
            <li class="nLinks">
                <b><i><a href="/">Slate</a></i></b>
            </li>
            <li class="nLinks">
                <a href="/product">Product</a>
            </li>
            <li class="nLinks">
                <a href="/teams">Teams</a>
            </li>
            <li class="nLinks">
                <a href="/individuals">Individuals</a>
            </li>
            <li class="nLinks">
                <a href="/pricing">Pricing</a>
            </li>
            <li class="nLinks">
                <a href="/privacy">Privacy Policy</a>
            </li>

        </ul>
    </div>
    <h1 class="heading">Plans & features</h1>
    <h2 class="heading2">A consolidated productivity tool serving all your</h2>
    <h2 class="heading_2">contemporary needs</h2>
    <img src="/assets/pricing.png" alt="pricing">
    <div class="pricing">
        <div class="slot">
            <h2>Free</h2>
            <h3>0 INR</h3>
            <div class="link">
                <a href="/signup">Sign up</a>
            </div>
            <div class="features">
                <ul>
                    <li> Create,edit,delete notes</li>
                    <li> Create folders for modularity</li>
                    <li>Collaborative workspace</li>
                    <li> Calendar and schedules</li>
                    <li> Collaborate with friends, family & colleagues on your pages.</li>
                </ul>
            </div>
        </div>
        <div class="slot">
            <h2>Plus</h2>
            <h3>500 INR/P.M.</h3>
            <div class="link">
                <a href="/signup">Get started</a>
            </div>
            <div class="features">
                <ul>
                    <li><b>Everything in Free+</b></li>
                    <li> Schedule meets</li>
                    <li> Collaborative sticky notes</li>
                    <li> Pin important files</li>
                </ul>
            </div>
        </div>
        <div class="slot">
            <h2>Business</h2>
            <h3>1500 INR/P.M.</h3>
            <div class="link">
                <a href="/signup">Get started</a>
            </div>
            <div class="features">
                <ul>
                    <li><b>Everything in Free+</b></li>
                    <li> Set team reminders</li>
                    <li> Collaborative sticky notes</li>
                    <li> Pin important folders</li>
                </ul>
            </div>
        </div>
        <div class="slot">
            <h2>Enterprise</h2>
            <h3>5000 INR/P.M.</h3>
            <div class="link">
                <a href="/signup">Contact sales</a>
            </div>
            <div class="features">
                <ul>
                    <li><b>Everything in Free+</b></li>
                    <li><b>AI capabilities</b></li>
                    <li>Chat with Pdf</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="prompt">
        <h2>Try slate today</h2>
        <h3>Get started for free.</h3>
        <h4>Add your whole team as your needs grow.</h4>
    </div>
    <img class="cartoon" alt="dig" src="https://www.notion.so/cdn-cgi/image/format=auto,width=384,quality=100/front-static/pages/product/sitting-character.png">
</body>
<footer>
<div class="reference">
<div class="box">
    <h2>slate</h2>
</div>
<div class="box">
    
    <ul>
        <h3>Company</h3>
        <li>About Us</li>
        <li>Security</li>
        <li>Terms&privacy</li>
    </ul>
</div>

<div class="box">
    <ul>
        <h3>Resources</h3>
        <li>Help Center</li>
        <li>Community Center</li>
        <li>Blog</li>
    </ul>
</div>

<div class="box">
    <ul>
        <h3>slate for</h3>
        <li>Enterprise</li>
        <li>Business</li>
        <li>Personal</li>
        <li>Startups</li>
    </ul>
</div>

</div>
</footer>
</html>