.html {
    background-color: whitesmoke;
    flex-wrap: wrap;
}

.header {
    font-size: 40px;
    margin-top: 150px;
    margin-left: 640px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

.navBar {
    margin-top: 10px;
    padding: 2px;
    width: fit-content;
    height: 50px;
}

.nLinks {
    display: inline;
    margin-left: 10px;
}

.nLinks a {
    margin-right: 22px;
    text-decoration: none;
    font-size: 17px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nLinks a:hover {
    text-decoration: underline;
    font-weight: bold;
    ;
}

.heading{
    margin-left: 600px;
    font-size: 52px;
    margin-top: 120px;
}

.heading2{
margin-left:375px;
font-size: 42px;
}

.heading_2{
    margin-left:580px;
    font-size: 42px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }
    

img{
    margin-left: 640px;
    height: 300px;
}

.pricing{
    display: flex;
    margin-left:40px;
    margin-top:60px;
}

.slot{
    margin-left:30px;
    width: 250px;
    height: 420px;
    padding: 28px 32px 24px;
    border-radius: 18px;
    background-color: rgb(230, 228, 228);
    position: relative;
}

.slot h2{
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.link{
    background-color: black;
    width: 200px;
    height: 22px;
    padding:10px;
    border-radius: 5px;
}

.slot a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    margin-left: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.link:hover{
    background-color: rgb(50, 49, 49);

}

.features ul li{
font-size: 18px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.reference{
    margin-top: 10%;
    display: flex;
    background-color: rgb(230, 228, 228);
}

.box{
    margin-left:60px;
}

.box ul{
    list-style-type: none;
}

hr{
    margin-top:20vh;
    width: 400px;
}

.prompt h2{
    margin-left:610px;
    font-size: 42px;
}

.prompt h3{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left:625px;
}

.prompt h4{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left:520px; 
}

.cartoon{
    margin-left: 100px;
    margin-top:140px;
}